body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
}

h1 {
    text-align: center;
}

h2 {
    color: #0066cc;
}

p {
    margin-bottom: 10px;
}

.event-info {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px; /* Add some horizontal spacing between the buttons */
    padding: 5px 10px;
    border: 0 solid #fff;
    border-radius: 5px;
    flex: 1; /* Use the flex property to distribute available space evenly */
}

nav a:hover {
    background-color: #fff;
    color: #333;
}

/* Media Query for Tablets and larger screens */
@media (min-width: 768px) {
    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        margin: 0 10px; /* Reset the margin for larger screens */
    }
}

/*=============================================================================*/
.grid-container{
    background-color: #333;
    color: #f2f2f2;
    padding: 5%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Change the grid template to distribute the columns evenly */
    grid-template-rows: auto auto;
    column-gap: 50px;
}

.centered-footer {
    grid-column: 1 / span 3; /* Make the footer span across all three columns */
}


#SUT-logo-footer,
#Resana-logo-footer {
    max-width: 50px;
    float: right;
    margin-top: 20px; /* Add some top margin to push the images down */
}

/*=============================================================================*/

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; /* Set the height of the slideshow container */
    overflow: hidden; /* Hide any overflow from the images */
}

.slideshow-img {
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
}

.slideshow-img.active {
    opacity: 1;
    z-index: 1;
}

.slideshow-prev,
.slideshow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    z-index: 2;
}

.slideshow-prev {
    left: 10px;
}

.slideshow-next {
    right: 10px;
}

.logo {
    max-width: 300px;
    display: block; /* Make the image a block-level element */
    margin-left: auto;
    margin-right: auto;
}